.card-preview {
    /* background-color: rgb(220, 229, 185); */
    background-color: rgb(231 241 198);
    margin-bottom: 1.2em;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 0.54em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    /* width: 42vh;
    height: 19vh; */
    align-items: center;
}

.btn-card {
    border-radius: 6px;
    padding: 0.4em;
    cursor: pointer;
    padding: 0.4rem 0.4rem;
    border-radius: 4px;
    letter-spacing: 0.0892857143em;
    border: 1px rgb(252 220 220) solid;
    background-color: rgb(33 48 76);
    color: #f1f1f1
}