.details-headline {
    margin-top: 1.5em;
}

.permission {
    place-self: start;
    font-weight: 500;
    color: #524a44;
}

.block-details {
    padding: 1.5em;
    margin-top: 2em;
    border-radius: 2px;
    height: 50vh;
    width: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px rgb(195 188 188) solid;
    background-color: #eeebe6;
    background-color: #eeebe6;
}

.block-details div {
    flex: auto;
}

.block-details button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.0892857143em;
    margin-top: 10px;
    border: 1px rgb(252 220 220) solid;
    background-color: rgb(33 48 76);
    color: #f1f1f1;
}

.text-area {
    width: 303px;
    height: 228px;
    resize: none;
    padding: 0.7em;
    border: 1px rgb(222 221 221) solid;
}

.success-icon {
    font-size: 8em;
    position: absolute;
    left: 67%;
    top: 11%;
}