/* MOBILE */
@media (max-width: 500px) {
    .block-details {
        width: 80%;
        min-width: 80%;
    }

    .main-app {
        width: 100%;
    }

    .permission {
        margin-left: 1em;
    }

    .text-area {
        min-height: 180px;
    }
}

/* /////////NOT-MOBILE////// */

@media (min-width: 501px) {
    .block-details {
        width: 45vh;
    }

}